<h1>Pirate!</h1>
<form method="post" action="/pirates">
  <label for="pirate">Pirate Name:</label>
  <input type="text" name="pirate[name]"><br>
  <label for="pirate">Pirate Weight:</label>
  <input type="text" name="pirate[weight]"><br>
  <label for="pirate">Pirate Height:</label>
  <input type="text" name="pirate[height]"><br>
  <label for="pirate">Pirate Ship Name:</label>
  <input type="text" name="pirate[ships][][name]"><br>
  <label for="pirate">Pirate Ship Type:</label>
  <input type="text" name="pirate[ships][][type]"><br>
  <label for="pirate">Pirate Ship Booty:</label>
  <input type="text" name="pirate[ships][][booty]"><br>
  <label for="pirate">Pirate Ship Name:</label>
  <input type="text" name="pirate[ships][][name]"><br>
  <label for="pirate">Pirate Ship Type:</label>
  <input type="text" name="pirate[ships][][type]"><br>
  <label for="pirate">Pirate Ship Booty:</label>
  <input type="text" name="pirate[ships][][booty]"><br>
  <input type="submit" value="Submit">
</form>
