<h1>Pirate!</h1>

<form method="post" action="/pirates">
  <label for="pirate_name">Pirate Name:</label> <input type="text" name="pirate[name]" id="pirate_name"><br>
  <label for="pirate_weight">Pirate Weight:</label> <input type="text" name="pirate[weight]" id=""><br>
  <label for="pirate_height">Pirate Height:</label>
  <input type="text" name="pirate[height]"><br>
  <label for="ship_name_1">Pirate Ship Name:</label>
  <input type="text" name="pirate[ships][][name]"><br>
  <label for="ship_1_type">Pirate Ship Type:</label>
  <input type="text" name="pirate[ships][][type]"><br>
  <label for="ship_1_booty">Pirate Ship Booty:</label>
  <input type="text" name="pirate[ships][][booty]"><br>
  <label for="ship_2_name">Pirate Ship Name:</label>
  <input type="text" name="pirate[ships][][name]"><br>
  <label for="ship_2_type">Pirate Ship Type:</label>
  <input type="text" name="pirate[ships][][type]"><br>
  <label for="ship_2_booty">Pirate Ship Booty:</label>
  <input type="text" name="pirate[ships][][booty]"><br>
  <input type="submit" value="Submit">
</form>
