<h1>Pirate!</h1>
<form method="post" action="/pirates">
  <label for="pirate">Pirate Name:</label>
  <input type="text" name="pirate[name]"><br>
  <label for="pirate">Pirate Weight:</label>
  <input type="text" name="pirate[weight]"><br>
  <label for="pirate">Pirate Height:</label>
  <input type="text" name="pirate[height]"><br>
  <label for="pirate">Pirate Ship Name:</label>
  <input type="text" name="pirate[ships][][name]"><br>
  
  
  
</form>

 
<form method="post" action="/">
      <p>Name:
      <input type="text" name="name">
      </p>
      <br>
      <p>Breed:
      <input type="text"name="breed">
      </p>
      <br>
      <p>Age:
      <input type="text" name="age">
      </p>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>